<html>
    <head>
        <title>
            Control <%= name %>
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel = "stylesheet" href = "https://www.w3schools.com/lib/w3.css">
        <style>
            #test{
                flex: 1 1 auto;
            }
            #execute:hover{
            color: rgb(75, 226, 231);
            background-color: #060a01;
            text-decoration: none;
                }
            #bot_name{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 30px;
                font-weight: 1000;
            }
            a{
                text-decoration: none;
            }
            form{
                font-family: Arial;
                border-color: black;
                color: deepskyblue;
                text-align: center;
                margin-top: 25px;
            }
            div{
                font-family: Arial;
                border-color: black;
                color: deepskyblue;
                text-align: center;
                margin-top: 30px;
            }
            p{
                font-family: Arial;
                border-color: black;
                color: deepskyblue;
                text-align: center;
                padding-left: 1400px;
            }
            div p{
                padding: 10px;
            }
            #bot:hover{
                color: rgb(11, 3, 29);
            }
            #back{
                margin-right: 500px;
            }
            #bot
            {
            border: 6px solid;
            margin: 0;
            width: 250px;
            padding: 13px;
            text-align: center;
            margin-top: 20px;
            margin-inline-start: 620px;
            }
            #title
            {font-family: Algerian;
                size: 36px;
                color: darkcyan;
                background-color: black;
                /* width: 300px; */
                text-align: center;}
            </style>
    </head>
    <body>
        <h1 id='title'>
            Stuxnet
        </h1>
        <a href="http://127.0.0.1/cnc" id='back'>
            &lt  Back
            </a>
        <p>
            <button type='button' id='clear'>
                Clear
            </button>
            
        </p>
            
        <div id='bot_name'>
            <%= name %>
        </div>
        <div>
            <h2>Enter a command : </h2>
        </div>
        <form method="POST" action="/control/execute">
        <div><p>
            >   <input type="text" name='cmd'>
            <input type="hidden" value="<%= name %>" name='ip'>
        </p>
        </div>
        <div>
            <button type='submit' id='execute'>Execute</button>
        </form>
        </div>
        <pre>
        <div class='w3-container w3-border w3-teal' id='output'>
        </div>
    </pre>
        <script>
            $(document).ready(function(){
                // $.get('http://127.0.0.1/get_cmd?id=<%= name %>',{},function(resp){
                //     $('div').append(resp);
                // });
                // $('#output').load('data?id=<%= name %>')
                document.getElementById('clear').onclick = function(){
                    $.get(
                        "delete",
                        {ip:'<%= name %>'},
                        function(data) {
                        alert('request sent');
                        }
                        );
        }; 
                $('#output').load('update?id=<%= name %>')
                refresh();
            });

            function refresh(){
                setTimeout( function(){
                    // $('#output').load('data?id=<%= name %>')
                    $('#output').load('update?id=<%= name %>')
                    refresh();
                },2000);
            }
        </script>
    </body>
</html>